.login_form { font-family: arial; font-size: 10pt; }
.title { font-family: arial; font-size: 16pt; }
.text { font-family: arial; font-size: 10pt; }
.menuu { font-family: arial; font-size: 10pt; color: #ffffff; font-weight: bold; }
.s_button { font-family: arial; font-size: 10pt; color: #000000; border: 1px; border-style: solid; background: #ffffff; }
.textlink { font-family: arial; font-size: 10pt; color: #000000;}