.text {
font-family: verdana;
font-size: 12px;
color: #666666;
}
.copyrigth {
font-family: verdana;
font-size: 12px;
color: #666666;
}
.wintitel {
font-family: verdana;
font-size: 12px;
color: #eeeeee;
}
.menuulink {
font-family: verdana;
font-size: 12px;
color: #666666;
text-decoration: none;
text-align: center;
}
.imglink {
font-family: verdana;
font-size: 12px;
color: #666666;
text-decoration: none;
text-align: center;
border: none;
}