!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en" }
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=utf-8"}
    %title HTTP Check
    =stylesheet_link_tag "main"
    =formtastic_stylesheet_link_tag
    =javascript_include_tag :defaults
  %body
    #menu
      =link_to "Site list", sites_path
      =link_to "New site", new_site_path
      =link_to "Clean errors", { :controller => "sites", :action => "clean_errors" },
        :confirm => "Are you sure?"
    - flash.each do |key, msg|
      =content_tag :div, msg, :class => ["message_", key]
    #content
      =@content_for_layout